@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

:root {
    background-color: #f9f5ec;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Mouse Memoirs, sans-serif;
  
}

/* Header styling */

.header {
    background-color: #191919;
    color: #f9f5ec;
    height: 100px;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 20px;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Home screen styling */

.home-menu-container {
    width: 400px;
    height: 600px;
    background-color: #c9c6be;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 16px #191919;
}

.home-menu-container h2 {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
    font-family: Mouse Memoirs, sans-serif;
}

#start-btn-home {
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    font-family: Mouse Memoirs, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    width: 80%;
    height: 50px;
    background-color: #f9f5ec;
    border-radius: 5px;
    padding-top: 5px;
    
}

#start-btn-home:hover {
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    font-family: Mouse Memoirs, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    width: 80%;
    height: 50px;
    background-color: #ae841a;
    box-shadow: 0px 4px 16px #191919;
    border-radius: 5px;
    padding-top: 5px;
    
}
#start-btn-home a {
    text-decoration: none; 
    font-family: Mouse Memoirs, sans-serif;
    color: #191919;
    
}


#menu-btn-home {
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    font-family: Mouse Memoirs, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    width: 80%;
    height: 50px;
    background-color: #f9f5ec;
    border-radius: 5px;
    padding-top: 5px;
    
}

#menu-btn-home a {
    text-decoration: none; 
    font-family: Mouse Memoirs, sans-serif;
    color: #191919;
    
}

#menu-btn-home:hover {
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    font-family: Mouse Memoirs, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    width: 80%;
    height: 50px;
    background-color: #ae841a;
    box-shadow: 0px 4px 16px #191919;
    border-radius: 5px;
    padding-top: 5px;
}